{% extends 'app_forms/base2.html' %}
{% block content %}

<html>
<head>
        <center style="font-size: 20px; margin-bottom: 10px;">UNDERTIME</center>
</head>
<body>

    <div style="margin-left: 180px;" class="btn-group">
        <div class="col-lg-4">
                <button onclick="window.location='{% url 'add_undertime' %}'" style="width: 150px;" class="btn btn btn-outline-info">Undertime</button>
        </div>
        <div class="col-lg-4" style="margin-left: -20px;">
                <button onclick="window.location='{% url 'undertime_request' %}'" style="width: 150px;" class="btn btn btn-outline-info">Filed Requests</button>
        </div>
        <div class="col-lg-4" style="margin-left: -20px;">
                <button onclick="window.location='{% url 'undertime_summary' %}'" style="width: 200px;" class="btn btn btn-outline-info">Summary Of Requests</button>
        </div>
    </div>
    <br/>
    {% load auth_extras %} 
    {% if request.user|has_group:"Supervisors" or request.user|has_group:"Team Leads" or request.user|has_group:"HRD" %}
    <div style="margin-left: 250px;" class="btn-group">
  
        <div class="col-lg-3">
            <button onclick="window.location='{% url 'undertime_approval' %}'" style="width: 200px;" class="btn btn btn-outline-info">Approval Requests</button>
        </div>
        <div class="col-lg-3" style="margin-left: 80px;">
            <button onclick="window.location='{% url 'reports_undertime' %}'" style="width: 150px;" class="btn btn btn-outline-info">Reports</button>
        </div>
     
    </div>
    {% endif %}
</body>
</html>
{% endblock %}