<div class="card text-white bg-primary mb-3" style="max-width: 20rem;" onclick="window.location='{% url 'productivity_tool_approval_details' pk=ptool.pk %}'">
    <div class="card-header">Name : {{ ptool.name }}</div>
    <div class="card-body">
        <h4 class="card-title">Productivity Tool : {{ ptool.prodTool }}</h4>
        <p class="card-text">Price : {{ ptool.price }}</p>
        <p class="card-text">Reason/s : {{ ptool.reasons }}</p>
        <p class="card-text">{{ ptool.remarks| truncatechars:40 }}</p>
    </div>
</div>
<script type="text/javascript">
    function refreshPage()
    {
        window.location.reload(true);
    }
</script>