{% extends 'app_forms/base2.html' %}
{% block content %}

<html>
<head>
</head>
<body>
    <div class="container form-group">
        <br/>
        <form method="POST">
                <div class="container" style="margin-top: 60px; width: 50%;">
                {% csrf_token %}
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <h3>OVERTIME FORM</h3>
                    </div>
                </div>
                <hr style="border-top: 1px solid #ccc; background: transparent;">

                <br/>

                {% for field in form %}
                {{ field.errors }}
                {% if field.name == 'name' %}
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <label>NAME</label>
                    </div>
                </div>
                
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <input value="{{ name }}" name="{{ field.name }}" style="width: 50%; text-align: center" type="text" class="form-control" readonly>
                    </div>
                </div>


                <br/>

                {% elif field.name == 'department' %}
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <label>DEPARTMENT</label>
                    </div>
                </div>
                
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <input name="{{ field.name }}" style="width: 50%; text-align: center" type="text" class="form-control" placeholder="e.g. Dev Team">
                    </div>
                </div>


                <br/>

                {% elif field.name == 'date_ot' %}
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <label>DATE</label>
                    </div>
                </div>
                
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <input name="{{ field.name }}" id="tDate" style="width: 50%; text-align: center" type="date" class="form-control">
                    </div>
                </div>


                <br/>

                <div class="row">
                    <div align="center" class="col-lg-6">
                        <label>TIME FROM</label>
                    </div>
                    <br/>
                    <div align="center" class="col-lg-6">
                        <label>TIME TO</label>
                    </div>
                </div>
                <div class="row">
                    {% elif field.name == 'timeFrom' %}
                    <div align="center" class="col-lg-6">
                        <input name="{{ field.name }}" id="tFrom" style="width: 250px;" type="time" class="form-control">
                    </div>

                    <br/>

                    {% elif field.name == 'timeTo' %}
                    <div align="center" class="col-lg-6">
                        <input name="{{ field.name }}" id="tTo" style="width: 250px;" type="time" class="form-control">
                    </div>
                </div>
                
                
                <br/>

                
                {% elif field.name == 'num_of_hrs' %}
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <label>NUMBER OF HOURS</label>
                    </div>
                </div>
                
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <input name="{{ field.name }}" onclick="computeOT();" id="n_hrs" style="width: 50%; text-align: center" type="text" class="form-control" placeholder="e.g. 4">
                    </div>
                </div>


                <br/>

                {% elif field.name == 'project_name' %}
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <label>PROJECT</label>
                    </div>
                </div>
                
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <input name="{{ field.name }}" style="width: 50%; text-align: center" type="text" class="form-control" placeholder="e.g. Pocketwise SFE">
                    </div>
                </div>


                <br/>

                {% elif field.name == 'reason' %}
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <label>REASON</label>
                    </div>
                </div>
                
                <div class="row">
                    <div align="center" class="col-lg-12">
                        <input name="{{ field.name }}" style="width: 50%; text-align: center;" type="text" class="form-control" placeholder="Bug Fixes">
                    </div>
                </div>


                <br/>
                {% endif %}
                {% endfor %}

                <div class="row">
                    <div class="col-lg-12">
                        <center><button style="width: 50%;" class="btn btn-info">SUBMIT</button></center>
                    </div>
                </div>

                
            </div>
        </form>
    </div>
</body>

<script>
function computeOT(){
        var tDate = document.getElementById('tDate');
        var tFrom = document.getElementById('tFrom');
        var tTo = document.getElementById('tTo');
        var n_hrs = document.getElementById('n_hrs');
        
        var timeFrom = new Date (tDate + tFrom);
        var timeTo = new Date(tDate + tTo);
        var difference = timeTo - timeFrom;
        var diff_result = new Date(difference);
        var diff_hrs = diff_result.getHours();
        console.log("timeFrom --> " + tFrom.getTime());
        console.log("timeTo --> " + tTo.getTime());
        console.log("diff_hrs --> " + diff_hrs);
    }
</script>
{% endblock %}