{% extends 'app_forms/base2.html' %}
{% block content %}
<hr/>
<form method="POST">
    {% csrf_token %}
    <div class="row">
        {% for field in form %}
        {% if field.name == 'dateFrom' %}
        <div class="col-md-3">
            From : <input style="width: 200px;" name="{{ field.name }}" id="dateFrom" type="date" class="form-control" />
        </div>
        {% elif field.name == 'dateTo' %}
        <div class="col-md-3">
            To : <input style="width: 200px;" name="{{ field.name }}" id="dateTo" type="date" class="form-control" />
        </div>
        {% elif field.name == 'status' %}
        <div class="col-md-2">
            Status : 
            <select id="status" id="leaveType" name="{{ field.name }}" class="form-control">
                    <option value='All'>All</option>
                    <option value='None'>Pending</option>
                    <option value='True'>Approved</option>
                    <option value='False'>Declined</option>
            </select>
        </div>
        {% endif %}
        {% endfor %}
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <br/><button title="Search" style="text-align:center; width: 120px;" class="btn btn-info"><i class="fa fa-search"></i></button>
                </div>
                <div class="col-md-4">
                    <br/><button title="PDF" style="text-align:center; width: 120px;" type="button" class="btn btn-info" onclick="window.location='{% url 'pdf_summary_of_leaves' %}'"><i class="fa fa-file-pdf-o"></i>&nbsp;PDF</button>
                </div>
                <div class="col-md-4">
                    <br/><button title="Excel" style="text-align:center; width: 120px;" type="button" class="btn btn-info" onclick="window.location='{% url 'excel_summary_of_leaves' %}'"><i class="fa fa-file-excel-o">&nbsp;EXCEL</i></button>
                </div>
                <div class="col-md-4">
                    <br/><button title="Refresh" style="text-align:center; width: 120px;" type="button" class="btn btn-info" onclick="window.location='{% url 'leave_summary' %}'"><i class="fa fa-refresh"></i></button>
                </div>
                <div class="col-md-4">
                    <br/><button title="CSV" style="text-align:center; width: 120px;" type="button" class="btn btn-info" onclick="window.location='{% url 'csv_summary_of_leaves' %}'"><i class="fa fa-file-o"></i>&nbsp;CSV</button>
                </div>
                <div class="col-md-4">
                    <br/><button title="JSON" style="text-align:center; width: 120px;" class="btn btn-info" onclick="window.location='{% url 'json_summary_of_leaves' %}'"><i class="fa fa-file-text-o"></i>&nbsp;JSON</button>
                </div>
            </div>
        </div>
    </div>
</form>
<hr/>
<div class="container form-group">
    <div class="table-responsive">          
        <table class="table">
          <thead>
            <tr style="text-align: center">
              <th>Name</th>
              <th>Leave Type</th>
              <th>Date From</th>
              <th>Date To</th>
              <th>Time From</th>
              <th>Time To</th>
              <th>Reason</th>
              <th>Status</th>
              <th>Days</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            {% for leave in leaves %}
            <tr style="text-align: center">
              <td>{{ leave.name }}</td>
              <td>{{ leave.leaveType }}</td>
              <td>{{ leave.dateFrom }}</td>
              <td>{{ leave.dateTo }}</td>
              <td>
                {% if leave.timeFrom == None %}
                    --
                {% elif leave.timeFrom != None %}
                    {{ leave.timeFrom }}
                {% endif %}
              </td>
              <td>
                {% if leave.timeTo == None %}
                    --
                {% elif leave.timeTo != None %}
                    {{ leave.timeTo }}
                {% endif %}
              </td>
              <td>{{ leave.reason }}</td>
              <td>
                    {% if leave.status == 'True' %}
                        Approved
                    {% elif leave.status == 'False' %}
                        Declined
                    {% elif leave.status == 'None' %}
                        Pending
                    {% endif %}
              </td>
              <td>{{ leave.leaveCount }}</td>
              <td>{{ leave.remarks }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
</div>
{% endblock %}